.page-title {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-items: center;
    padding: 0 10px 10px;
}

.book {
    background-color: #501B00;
    color: #EFC501;
    padding-top: 100%;
    width: 100%;
    position: relative;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    box-shadow: 5px 5px 8px -3px, 7px 8px 0px 0px #501B00;
    cursor: pointer;
}

.title {
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
    font-size: 5vmax;
    text-shadow: -2px -2px 3px black;
}

.new-spell-container {
    position: relative;
    cursor: pointer;
    img {
        width: 100%;
    }
    .new-spell-title {
        position: absolute;
        top: 25%;
        font-size: 5vmax;
        right: 0;
        color: #EFC501;
        text-shadow: -2px -2px 3px black;
    }
}

.home-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-items: center;
    padding: 0 10px;
}

.book {
    background-color: #501B00;
    color: #EFC501;
    padding-top: 100%;
    width: 100%;
    position: relative;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    box-shadow: 5px 5px 8px -3px, 7px 8px 0px 0px #501B00;
    cursor: pointer;
}

.title {
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
    font-size: 5vw;
}