/* You can add global styles to this file, and also import other style files */
/* For some reason, angular or spring (not sure which) freaks out if this file is empty. */
#notempty {
  color: red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
