<div class="page" *mobxAutorun>
    <div class="book" *ngIf="spellStore.currentBook as book">
        <h1>{{book.name}}</h1>
        <div class="filters">
            <input placeholder="name" type="text" [(ngModel)]="spellStore.filterName">
            <input placeholder="level" type="number" [(ngModel)]="spellStore.filterLevel">
            <select placeholder="class" [(ngModel)]="spellStore.filterClass">
                <option *ngFor="let class of classOptions" value="class">{{class}}</option>
            </select>
            <select placeholder="school" [(ngModel)]="spellStore.filterSchool">
                <option *ngFor="let school of schoolOptions" value="school">{{school}}</option>
            </select>
            <select placeholder="damage type" [(ngModel)]="spellStore.filterDamageType">
                <option *ngFor="let type of damageTypeOptions" value="type">{{type}}</option>
            </select>
        </div>
        <div class="spells">
            <div class="spell" *ngFor="let spell of book.spells" (click)="routeToSpell(spell.spellId)">
                <strong>{{spell.spellName}}</strong>
                <span>Level: {{spell.level}}</span>
                <span>{{spell.school}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="!spellStore.currentBook">Let's see if we can find the grimoire you seek</div>
</div>